*.o
*.a
*.log
*.replace

megaphone
phonebook
tests

braiiiiiiinnnzzzz
moar_brainz
hi_this_is_brain
unnecessary_violence
sed_is_for_losers
karen_2
karen-filter

fixed
bsp

clap_trap
